<app-navbar-superior-landpage></app-navbar-superior-landpage>


<div class="contenedor">
    <div class="area-principal">
        <h1>Impulsa tu negocio con la <span class="titleColor">Solución POS</span> definitiva para pymes</h1>
        <p>Experimenta la eficiencia de gestionar ventas, facturación y contabilidad automáticamente, todo en una sola plataforma.</p>
        <button  routerLink="/preciosL">Inicia tu prueba gratuita de 30 días</button>
        <p class="bottomLine">Transformando el futuro de las pymes, una transacción a la vez.</p>
        

        
    </div>
    <div class="area-visual">
        <img src="Otros/moukup.png" alt="POS">
    </div>
</div>