<div class="dashboard-container">
  <div class="navbar">
    <button class="sidebar-toggle" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <app-navbar-lateral [class.sidebar-hidden]="isSidebarHidden"></app-navbar-lateral>

  <div class="dashboard-content">
    <app-navbar-superior></app-navbar-superior>

    <mat-card>
      <mat-card-content>
        <div class="tabla">
          <h1 class="title">Historial medico</h1>

          <!-- Selector de columna para filtrar -->
          <mat-form-field class="example-full-width">
            <mat-label>Seleccionar columna</mat-label>
            <mat-select [(value)]="selectedColumn">
              <mat-option *ngFor="let column of filterableColumns" [value]="column.value">
                {{ column.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Input para el filtro -->
          <mat-form-field class="example-full-width">
            <mat-label>Escribir valor</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Escribir valor" #input>
          </mat-form-field>

          <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Nombre de la Finca -->
              <ng-container matColumnDef="nombreFinca">
                <th mat-header-cell *matHeaderCellDef> Nombre de la Finca </th>
                <td mat-cell *matCellDef="let element"> {{ element.nombreFinca }} </td>
              </ng-container>

              <!-- ID del Lote -->
              <ng-container matColumnDef="idLote">
                <th mat-header-cell *matHeaderCellDef> ID del Lote </th>
                <td mat-cell *matCellDef="let element"> {{ element.idLote }} </td>
              </ng-container>

              <!-- Nombre -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
              </ng-container>

              <!-- Género -->
              <ng-container matColumnDef="genero">
                <th mat-header-cell *matHeaderCellDef> Género </th>
                <td mat-cell *matCellDef="let element"> {{ element.genero === 'H' ? 'Hembra' : 'Macho' }} </td>
              </ng-container>

              <!-- Raza -->
              <ng-container matColumnDef="raza">
                <th mat-header-cell *matHeaderCellDef> Raza </th>
                <td mat-cell *matCellDef="let element"> {{ element.raza }} </td>
              </ng-container>

              <!-- Etapa -->
              <ng-container matColumnDef="etapa">
                <th mat-header-cell *matHeaderCellDef> Etapa </th>
                <td mat-cell *matCellDef="let element"> {{ element.etapa }} </td>
              </ng-container>

              <!-- Fecha de Nacimiento -->
              <ng-container matColumnDef="fechaNacimiento">
                <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
                <td mat-cell *matCellDef="let element"> {{ element.fechaNacimiento | date: 'yyyy-MM-dd' }} </td>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">

                  <button mat-icon-button (click)="verIdAnimal(element.idAnimal)">
                    <mat-icon>visibility</mat-icon> <!-- Icono de ojo -->
                  </button>

                  <!-- Botón de acciones con menú desplegable -->
                  <button mat-icon-button [matMenuTriggerFor]="menuAcciones">
                    <mat-icon>edit</mat-icon> <!-- Icono de lápiz -->
                  </button>

                  <mat-menu #menuAcciones="matMenu">
                    <button mat-menu-item (click)="anadirTratamiento(element.idAnimal)">
                      <mat-icon>medical_services</mat-icon> Añadir Tratamiento
                    </button>
                    <button mat-menu-item (click)="anadirConsultaGeneral(element.idAnimal)">
                      <mat-icon>healing</mat-icon> Añadir procedimiento medico
                    </button>
                    <button mat-menu-item (click)="anadirVacuna(element.idAnimal)">
                      <mat-icon>vaccines</mat-icon> Añadir Vacuna
                    </button>
                    <button mat-menu-item (click)="consultaGeneral2(element.idAnimal)">
                      <mat-icon>list_alt</mat-icon> Consulta General 2
                    </button>
                  </mat-menu>

                </td>

              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">No hay datos para "{{ input.value }}"</td>
              </tr>

            </table>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>