<div class="cajaHeader">
  <div class="cajontitulo">
    <h1 class="titulo">Bienvenido</h1>
  </div>
  <div class="perfil">
    <div class="opciones">
      <div class="informacion">
        <h1 class="titulo">Hola, <span id="username">{{username}}</span></h1>
        <h1 id="perfil" class="titulo">{{role}} </h1>
        <!--version
        <h1 id="perfil" class="titulo">Versión: {{appVersion}}</h1>
        -->
      </div>

      <div class="botonConfig">

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/cambiar-contrasena">
            <mat-icon>vpn_key</mat-icon>
            <span class="spanAux">Cambiar Contraseña</span>
          </button>
          <!-- Mostrar la versión de la aplicación -->
          <button mat-menu-item disabled>
            <mat-icon>info</mat-icon>
            <span class="spanAux">Versión: {{appVersion}}</span>
          </button>
        </mat-menu>

      </div>
    </div>
  </div>
</div>