
<app-navbar-superior-landpage></app-navbar-superior-landpage>

<div class="container">

    <div class="body">
        <div class="imagen">
            <img src="Otros/banner-nuestra-compania-tuya-sa.png" class="img">
        </div>
        <div class="text">
            <h1>
                Nuesta Compañia
            </h1>
            <div class="parrafo">
                <p>Somos una compañía innovadora de soluciones de software con sede en Bogotá, situados estratégicamente
                    para ofrecer fácil acceso a nuestros clientes. Nos especializamos en el desarrollo de software a
                    medida, aplicaciones móviles y soluciones de automatización empresarial, diseñadas para impulsar la
                    transformación digital y aumentar la eficiencia operativa de las organizaciones.


                </p>
                <p>
                    Nuestro propósito fundamental es el suministro oportuno de personal
                    competente que apoye el logro de los objetivos estratégicos de
                    nuestros clientes, adaptamos y optimizamos continuamente los procesos
                    de acuerdo a las necesidades del cliente de manera efectiva, logrando
                    así su satisfacción y mejorando la rentabilidad de sus empresas.
                </p>
            </div>

            <div class="elipse"> </div>
        </div>

    </div>
    <div class="MisionAndVision">
        <div class="cuadro">
            <div class="mision">
                <h1 class="title">Nuestra Misión</h1>
                <p>
                    Como su socio estratégico en tecnología, nuestra misión es impulsar el éxito y la innovación de
                    nuestros clientes a través de soluciones de software personalizadas y de vanguardia. Nos esforzamos
                    por entender profundamente sus desafíos y objetivos para ofrecer productos y servicios que superen
                    sus expectativas, asegurando una integración perfecta, eficiencia operativa y una ventaja
                    competitiva sostenible en el mercado. 
                </p>
            </div>
        </div>
        <div class="cuadro">
            <div class="mision">
                <h1 class="title">Nuestra Visión</h1>
                <p>
                    Para el 2025, aspiramos a ser reconocidos como líderes y pioneros en la industria del desarrollo de
                    software, marcando la diferencia a través de la innovación, la calidad y la excelencia en el
                    servicio. Nos proponemos ser el socio tecnológico predilecto de las empresas, transformando sus
                    operaciones y contribuyendo a su éxito en el ámbito digital.
                </p>
            </div>
        </div>
    </div>

    <div class="valuesCompani">

        <h1 style="margin-bottom: 30px;">
            Nuestros valores corporativos
        </h1>
        <div class="values">

            <div class="circle">
                <div class="svg">
                    <img src="Otros/compromiso.svg" class="img">
                </div>
            </div>

            <div class="contenido">
                <h2>Compromiso</h2>
                <p>
                    A través de nuestra misión y visión inculcamos en los trabajadores
                    la necesidad de aportar lo mejor de sí para lograr los objetivos
                    de la organización y de nuestros clientes con el fin mantener
                    posicionada la organización en el mercado de EST.
                </p>
            </div>
        </div>

        <div class="values">
            <div class="circle">
                <div class="svg">
                    <img src="Otros/honestidad.svg" class="img">
                </div>
            </div>

            <div class="contenido">
                <h2>Honestidad</h2>
                <p>
                    Incentivamos en nuestros trabajadores la moral y el respeto por
                    el bien común, para el crecimiento de la compañía, las empresas
                    usuarias y el talento humano del cual hacemos parte.
                </p>
            </div>
        </div>

        <div class="values">
            <div class="circle">
                <div class="svg">
                    <img src="Otros/etica.svg" class="img">
                </div>
            </div>

            <div class="contenido">
                <h2>Ética</h2>
                <p>
                    Desarrollamos en nuestros colaboradores aspectos como la integralidad
                    y la justicia, siendo coherentes con nuestra línea de pensamiento donde
                    se reconoce en cada uno sus potencialidades y diferencias individuales.
                </p>
            </div>
        </div>
        <div class="values">
            <div class="circle">
                <div class="svg">
                    <img src="Otros/resp-social.svg" class="img">
                </div>
            </div>

            <div class="contenido">
                <h2>Responsabilidad social</h2>
                <p>
                    Fomentamos en nuestros trabajadores una cultura de crecimiento
                    y tanto personal como social mediante capacitaciones y
                    campañas de sensibilización que impacte su entorno familiar,
                    laboral, social y ambiental.
                </p>
            </div>
        </div>
    </div>

</div>