<!-- Botón de menú para dispositivos móviles -->
<button class="sidebar-toggle" (click)="toggleSidebar()">
  <mat-icon>menu</mat-icon>
</button>

<!-- Barra lateral -->
<aside class="sidebar" [ngClass]="{'sidebar-hidden': isSidebarHidden}">
  <ul>
    <li>
      <a routerLink="/dashboard" [ngClass]="{'active': isActive('/')}" (click)="closeSidebar()">
        <mat-icon>dashboard</mat-icon>
        <p>Dashboard</p>
      </a>
    </li>

    <li>
      
      <a routerLink="/fincas" [ngClass]="{'active': isActive('/fincas')}"
      (click)="closeSidebar()">
      <mat-icon>engineering</mat-icon>
      <p>
        Fincas
      </p>
      </a>
    </li>

    <!-- Módulo de Salud -->
    <li>
      <a (click)="toggleMenu('salud')" [ngClass]="{'active': menuState['salud']}">
        <mat-icon>health_and_safety</mat-icon>
        <p>Salud</p>
        <mat-icon>{{ menuState['salud'] ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div class="sub-menu" [ngClass]="{'open': menuState['salud']}">
        <ul>
          <li>
            <a routerLink="/historial-medico" [ngClass]="{'active': isActive('/historial-medico')}"
              (click)="closeSidebar()">Historial Médico</a>
          </li>
          <li>
            <a routerLink="/reportes-salud" [ngClass]="{'active': isActive('/reportes-salud')}"
              (click)="closeSidebar()">Reportes de Salud</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Módulo de Producción -->
    <li>
      <a (click)="toggleMenu('produccion')" [ngClass]="{'active': menuState['produccion']}">
        <mat-icon>production_quantity_limits</mat-icon>
        <p>Producción</p>
        <mat-icon>{{ menuState['produccion'] ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div class="sub-menu" [ngClass]="{'open': menuState['produccion']}">
        <ul>
          <li>
            <a routerLink="/registro-produccion" [ngClass]="{'active': isActive('/registro-produccion')}"
              (click)="closeSidebar()">Registro de Producción</a>
          </li>
          <li>
            <a routerLink="/reportes-produccion" [ngClass]="{'active': isActive('/reportes-produccion')}"
              (click)="closeSidebar()">Reportes de Producción</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Módulo de Genealogía -->
    <li>
      <a (click)="toggleMenu('genealogia')" [ngClass]="{'active': menuState['genealogia']}">
        <mat-icon>account_tree</mat-icon>
        <p>Genealogía</p>
        <mat-icon>{{ menuState['genealogia'] ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div class="sub-menu" [ngClass]="{'open': menuState['genealogia']}">
        <ul>
          <li>
            <a routerLink="/registro-genealogia" [ngClass]="{'active': isActive('/registro-genealogia')}"
              (click)="closeSidebar()">Registro de Genealogía</a>
          </li>
          <li>
            <a routerLink="/optimizacion-apareamientos" [ngClass]="{'active': isActive('/optimizacion-apareamientos')}"
              (click)="closeSidebar()">Optimización de Apareamientos</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Módulo de Ventas -->
    <li>
      <a (click)="toggleMenu('ventas')" [ngClass]="{'active': menuState['ventas']}">
        <mat-icon>sell</mat-icon>
        <p>Ventas</p>
        <mat-icon>{{ menuState['ventas'] ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div class="sub-menu" [ngClass]="{'open': menuState['ventas']}">
        <ul>
          <li>
            <a routerLink="/registro-ventas" [ngClass]="{'active': isActive('/registro-ventas')}"
              (click)="closeSidebar()">Registro de Ventas</a>
          </li>
          <li>
            <a routerLink="/consulta-clientes" [ngClass]="{'active': isActive('/consulta-clientes')}"
              (click)="closeSidebar()">Consulta de Clientes</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Módulo de Inventario -->
    <li>
      <a (click)="toggleMenu('inventario')" [ngClass]="{'active': menuState['inventario']}">
        <mat-icon>inventory</mat-icon>
        <p>Inventario</p>
        <mat-icon>{{ menuState['inventario'] ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div class="sub-menu" [ngClass]="{'open': menuState['inventario']}">
        <ul>
          <li>
            <a routerLink="/gestion-inventario" [ngClass]="{'active': isActive('/gestion-inventario')}"
              (click)="closeSidebar()">Gestión de Inventario</a>
          </li>
          <li>
            <a routerLink="/reportes-inventario" [ngClass]="{'active': isActive('/reportes-inventario')}"
              (click)="closeSidebar()">Reportes de Inventario</a>
          </li>
        </ul>
      </div>
    </li>


    <!--cerrar sesión-->
    <li>
      <a routerLink="">
        <mat-icon>logout</mat-icon>
        <p>Cerrar Sesión</p>
      </a>
    </li>

  </ul>
</aside>