<div class="dialog-container">
  <h2>Crear Medicamento</h2>
  <form [formGroup]="medicamentoForm">
    
    <!-- Select para Fincas -->
    <mat-form-field class="example-full-width">
      <mat-label>Finca</mat-label>
      <mat-select formControlName="idFinca">
        <mat-option *ngFor="let finca of fincas" [value]="finca.idFinca">
          {{ finca.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="descripcion" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" formControlName="cantidad" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Fabricante</mat-label>
      <input matInput formControlName="fabricante" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Fecha de Fabricación</mat-label>
      <input matInput type="date" formControlName="fechaFabricacion" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Fecha de Expiración</mat-label>
      <input matInput type="date" formControlName="fechaExpiracion" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Vía de Administración</mat-label>
      <input matInput formControlName="viaAdministracion" />
    </mat-form-field>



    <div class="dialog-buttons">
      <button mat-button color="primary" (click)="crearMedicamento()">Crear</button>
      <button mat-button color="warn" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>