<mat-dialog-content>
    <h1 class="title">Registro de Fincas</h1>

    <form [formGroup]="fincaForm" (ngSubmit)="enviarFinca()">
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Nombre de la Finca</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion">
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Área Total (hectáreas)</mat-label>
            <input matInput type="number" formControlName="areaTotal">
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Descripción de la Finca</mat-label>
            <textarea matInput formControlName="descripcionFinca"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Observaciones</mat-label>
            <textarea matInput formControlName="observaciones"></textarea>
        </mat-form-field>

        <br>
        <button mat-flat-button type="submit">Enviar</button>
        <button mat-button mat-dialog-close>Cerrar</button>
    </form>
</mat-dialog-content>
