<div class="dashboard-container">
  <div class="navbar">
    <button class="sidebar-toggle" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <app-navbar-lateral [class.sidebar-hidden]="isSidebarHidden"></app-navbar-lateral>

  <div class="dashboard-content">
    
    <app-navbar-superior></app-navbar-superior>

    <mat-card>
      <mat-card-content>

        <h2 class="title">Optimización de Apareamientos</h2>
    
        <!-- Select para seleccionar la finca -->
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Seleccionar Finca</mat-label>
          <mat-select [(value)]="selectedFinca" (selectionChange)="onFincaChange($event.value)">
            <mat-option *ngFor="let finca of fincas" [value]="finca.idFinca">
              {{ finca.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>
